<div class="main-container">
    <div class="circle">

    </div>
    <div style="width: 100%;z-index: 2;position:absolute;">
        <div id="image-icon-div" class="mt-3">
            <img class="mt-5" src="assets\loginLogo.png" height="80px" width="80px">
        </div>
        <p class="text-center mt-3 mb-5 text-white">Online Project Management</p>
    </div>  
   <div class="container-fluid border shadow-lg mt-4">
        <div class="row">
            <div class="col-md-12">
                <p class="mt-5  text-center h5">Login to get started</p >
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 pb-4 pt-4 pl-4 pr-4">
                 <label for="" class="text-secondary">Email</label><br>
                <input type="text" class="form-control login-form-input border-secondary w-100" name="" id="">
            </div>
            <div class="passwordInputDiv col-md-12 pb-3 pl-4 pr-4">
                <label for="" class="text-secondary">Password</label><br>
                <i class="far fa-eye" id="togglePassword"></i>
               <input type="text" class="form-control login-form-input border-secondary w-100" name="" id="">
               <p class="">Forget password?</p>
               
           </div>
        </div>
        <div class="col-md-12">

        </div>
   </div>
</div>
<div style="height: 300px;">

</div>

